.App {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.neumorphic {
  background: #f0f0f0 !important;
  border: none !important;
  box-shadow: 10px 10px 20px #d9d9d9, -10px -10px 20px #ffffff !important;
}

.neumorphic:active {
  box-shadow: inset 5px 5px 10px #d9d9d9, inset -5px -5px 10px #ffffff !important;
}
.neumorphic-inset {
  background: #f0f0f0 !important;
  border: none !important;
  box-shadow: inset 5px 5px 10px #d9d9d9, inset -5px -5px 10px #ffffff !important;
}
